.spectrum {
  display: flex;
  align-items: flex-end;
  height: calc(var(--max-level) * var(--size-dot) + (var(--max-level) - 1) * var(--space-spectrum-gap));
  gap: var(--space-spectrum-gap);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--space-spectrum-gap);
}

.dot {
  display: block;
  width: var(--size-dot);
  height: var(--size-dot);
  border-radius: var(--radius-round);
  background: var(--color-spectrum);
}

.idle .dot {
  background: var(--color-dot);
}
